@import "tailwindcss" theme(static);
@import './fonts.css';
@import './wordpress.css';
@source "../views/";
@source "../../app/";

@source inline("{,md:,lg:,xl:,2xl:,3xl:}{pt,pb}-{1..24}");
@source inline("{from,via,to}-{theme-brown,theme-orange,theme-dark-blue,theme-light-blue,theme-footer-tan,theme-yellow,theme-green,theme-footer-light-tan,black,white}");
@source inline("{,sm:,md:,lg:,xl:,2xl:,hover:,focus:,active:}bg-{theme-brown,theme-orange,theme-dark-blue,theme-light-blue,theme-footer-tan,theme-yellow,theme-green,theme-footer-light-tan,black,white}");

@theme {
    --color-*: initial;
    --color-theme-brown: #874707;
    --color-theme-orange: #e35205;
    --color-theme-dark-blue: #0c384d;
    --color-theme-light-blue: #00aed7;
    --color-theme-footer-tan: #d3bea6;
    --color-theme-yellow: #eaa400;
    --color-theme-green: #878707;
    --color-theme-footer-light-tan: #f3ece6;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red-600: #dc2626;

    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    --font-futura: "Futura Std", "sans-serif";
    --font-futura-condensed: "Futura Condensed", "sans-serif";
    --breakpoint-2xl: 1700px;
    --breakpoint-3xl: 1920px;

}

html {
    @apply font-futura;
    color: #2e2e2e;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

[x-cloak] {
    display: none !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-[1.2] md:leading-[1.3] lg:leading-[1.4];
}

/* h1 {
    @apply text-5xl;
} */

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;

}

h5 {
    @apply text-xl;
}

.prose a {
    @apply text-theme-brown hover:text-theme-orange transition-colors duration-300 ease-fluid;
}

.prose {
    @apply text-base md:text-xl leading-relaxed;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    @apply font-[800];
}


.prose h1:not(:last-child),
.prose h2:not(:last-child),
.prose h3:not(:last-child),
.prose h4:not(:last-child),
.prose h5:not(:last-child),
.prose h6:not(:last-child) {
    @apply mb-4 md:mb-12;
}

.prose h1 {
    @apply text-4xl md:text-5xl;
}

.prose h2 {
    @apply text-3xl md:text-4xl;
}

.prose h3 {
    @apply text-2xl md:text-3xl;
}

.prose h4 {
    @apply text-xl md:text-2xl;
}

.prose h5 {
    @apply text-xl;
}

.prose h6 {
    @apply text-base;
}

.prose strong {
    font-weight: 800;
}

.prose ul {
    @apply list-disc list-inside mb-6;
}

.prose p {
    @apply leading-8 md:leading-10;
}

.prose p:not(:last-child) {
    @apply mb-3 md:mb-6;
}

.clip-arch {
    clip-path: url(#arch);

}

.clip-arch-tall {
    clip-path: url(#arch-tall);

}

.animate-in {
    animation: zoomTextUp 1s ease-in-out forwards;
}

.open svg {
    @apply text-black lg:text-white;
}

.open.solid svg {
    @apply text-black lg:text-black;
}


footer .widget p,
footer .widget a {
    @apply relative inline-block cursor-pointer leading-[3] md:leading-[2];

}

footer .widget p,
footer .widget a {
    @apply relative inline-block after:content-[''] after:absolute after:bottom-[2px] after:left-0 after:w-full after:h-[3px] after:bg-theme-footer-light-tan after:origin-left after:scale-x-0 after:transition-transform after:duration-300 hover:after:scale-x-100;
}

.animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

.animate-zoom {
    animation: zoomInOnce 1s ease-in-out forwards;
}

.animate-zoom-slow {
    animation: zoomInOnce 1.75s ease-in-out forwards;
}

.animate-in-right {
    animation: fadeInRight 0.75s ease-in-out forwards;
    transform-origin: right;
}

.animate-in-up {
    animation: fadeInUp 0.75s ease-in-out forwards;
    opacity: 0;
    transform: translateY(30px);
}

.animate-fade-in-down {
    animation: fadeInDown 0.75s ease-out forwards;
    opacity: 0;
    transform: translateY(-200px);
}

#mountain-range #mountains {
    transition: all 1s ease-out;
    transform: translateY(150px);
    opacity: 0;
}

#mountain-range #trees {
    transition: all 1s ease-out;
    transform: translateY(50px);
}

#footer-heading {
    transition: all 0.5s ease-out;
    transition-delay: 0.5s;
    opacity: 0;
}

.bison-print-bg svg .track-1 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-1 {
    animation: step 1s 0.0s forwards ease-out;
}

.bison-print-bg svg .track-2 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-2 {
    animation: step 1s 0.5s forwards ease-out;
}

.bison-print-bg svg .track-3 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-3 {
    animation: step 1s 1s forwards ease-out;
}

.bison-print-bg svg .track-4 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-4 {
    animation: step 1s 1.5s forwards ease-out;
}

.bison-print-bg svg .track-5 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-5 {
    animation: step 1s 2s forwards ease-out;
}

.bison-print-bg svg .track-6 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-6 {
    animation: step 1s 2.5s forwards ease-out;
}

.bison-print-bg svg .track-7 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-7 {
    animation: step 1s 3s forwards ease-out;
}

.bison-print-bg svg .track-8 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-8 {
    animation: step 1s 3.5s forwards ease-out;
}

.bison-print-bg svg .track-9 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-9 {
    animation: step 1s 4s forwards ease-out;
}

.bison-print-bg svg .track-10 {
    opacity: 0;
}

.bison-print-bg.animate svg .track-10 {
    animation: step 1s 4.5s forwards ease-out;

}

.test {
    color: #111111;
}

@keyframes step {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomInOnce {
    0% {
        transform: scale(1);
        filter: blur(2px);
    }

    100% {
        transform: scale(1.05);
        filter: blur(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomTextUp {
    0% {
        opacity: 0;
        transform: translateY(30px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}
